/* declaring variables */
:root {
    --font-family-heading: 'Rubik Doodle Shadow', system-ui;
    --font-family-main: 'Josefin Slab', serif;
}

/* background */
body {
    background-color: blanchedalmond;
}

/* formatting navbar */
.navbar {
    color: blanchedalmond;
}

.navbar-brand {
    font-family: var(--font-family-heading);
    font-size: 50px;
    display: flex;
    justify-self: center;
    flex-direction: row;
    width: 20%;
    margin: 0;
}

.navbar {
    font-family: var(--font-family-main);
    font-size: 22px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.btn-lg {
    font-family: var(--font-family-main);
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
    padding: 20px 50px;
    margin: 2px 2px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(191, 89, 42);
    color: black;
    border: 2px solid maroon;
    cursor: pointer;
    border-radius: 30%;
}

.btn-lg:hover {
    background-color: brown;
    box-shadow: 5px;
}

.pokemon-list {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style: none;
}

.list-group-item {
    background-color: blanchedalmond;
    border: brown solid 2px;
    width: 20%;
    justify-items: center;
}

.modal-container {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: none;
    text-align: center;
}
  
.modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  
    /* to show it above other content */
    z-index: 999; 
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
  
    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

.text-center {
    font-family: var(--font-family-heading);
}

.modal-content {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #FFC300;
    padding: 15px;
    width: 50%;
    max-width: 50%;
    transform: translate(50%, 10px);
}

.modal-image {
    width: 30%;
}

.modal-body {
    text-align: center;
}
  
.close {
    float: right;
    appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
    font-size: 20px;
}

.close:hover {
    cursor: pointer;
}

.row {
    justify-content: center;
}
