/* declaring variables */
:root {
    --font-family-heading: 'Rubik Doodle Shadow', system-ui;
    --font-family-main: 'Josefin Slab', serif;
}

/* background */
body {
    background-color: blanchedalmond;
}

/* formatting headings */
h1 {
    font-family: var(--font-family-heading);
    font-size: 50px;
    justify-content: center;
}

.javascript {
    font-family: var(--font-family-main);
    font-size: 22px;
}

.pokemon-list {
    width: 50%;
    justify-content: center;
    align-items: space-between;
}

.pokemon-button {
    font-family: var(--font-family-main);
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 20px 50px;
    margin: 2px 2px;
    text-align: center;
    text-decoration: none;
    background-color: brown;
    color: black;
    border: 2px solid maroon;
}

li {
    list-style: none;
}

/* media query for screens smaller than 576px */
@media all and (max-width: 576px) {
    .pokemon-list {
        width: 100%;
    }
}

/* media query for screens smaller than 768px but larger than 576px */
@media all and (max-width: 768px) and (min-width: 576px) {
    .pokemon-list {
        width: 75%;
    }
}

/* media query for screen smaller than 768px */
@media all and (max-width: 768px) {
    .pokemon-list {
        display: inline-block;
        margin: 1px;
    }
}
    